<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
					<div class="navbar-inner">
						<div class="container-fluid">
							 <a class="brand" th:href="@{/}">Wypożyczalnia</a>
							<div class="nav-collapse collapse navbar-inverse-collapse">
								<ul class="nav pull-right">
									<li class="divider-vertical"></li>
									<li class="dropdown">
									<a th:href="@{/login}">Zaloguj</a>
									</li>
								</ul>
							</div>
							<!-- /.nav-collapse -->
						</div>
					</div>
					<!-- /navbar-inner -->
				</div>
</body>

</html>