<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script th:src="@{/resources/script/angular/angular.js}"></script>
<script th:src="@{/resources/script/jquery.js}"></script>
<script th:src="@{/resources/script/bootstrap/bootstrap.js}"></script>
<script th:src="@{/resources/script/raphael/raphael.js}"></script>
<link th:href="@{/resources/style/bootstrap/css/bootstrap.css}"
	rel="stylesheet" />
<link
	th:href="@{/resources/style/bootstrap/css/bootstrap-responsive.css}"
	rel="stylesheet" />
<link th:href="@{/resources/style/bootstrap/css/docs.css}"
	rel="stylesheet" />
<link th:href="@{/resources/style/bootstrap/css/bootstrap-custom.css}"
	rel="stylesheet" />
</head>
<body>
</body>
</html>